<nav class="navbar">
    <div class="nav-container">
        <a href="{{ '/' | relative_url }}" class="nav-logo">WA</a>
        <ul class="nav-menu">
            <li><a href="{{ '/' | relative_url }}" class="nav-link">Home</a></li>
            <li><a href="{{ '/about' | relative_url }}" class="nav-link">About</a></li>
            <li><a href="{{ '/#projects' | relative_url }}" class="nav-link">Projects</a></li>
            <li><a href="{{ '/#contact' | relative_url }}" class="nav-link">Contact</a></li>
        </ul>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>